@model CategoryModel

@if (Model.data.TotalScore > 0) {
    <tr>
        <td>@Model.name</td>
        <td class="bar">
            <div>|</div>
            <div class="divider"></div>
            <div class="divider"></div>
            <div class="divider"></div>
            <div class="divider"></div>
            <div>|</div>
            <div class="target" style="left: var(--target-overall);"></div>
            <div class="value" style="right: @((1-(Model.data.AverageScore/5))*100)%;"></div>
        </td>
        @if (@Model.data.Result > 0 ) {
            <td style="white-space:nowrap;">@Model.data.Result (@Model.data.Percentile.ToString("00.0")%)</td>
        }
        else
        {
            <td style="color: var(--color-med)">—</td>
        }
        <td>@Model.data.AverageScore.ToString( "#.##" )</td>
        <td>@Model.data.TotalScore</td>
    </tr>
}