@page "{ludumUser}"
@model IndexModel
@{
ViewData["Title"] = "Home page";
var nodes = Model.LudumDareData?.Node;
}

<div class="gamesContainer">
    @foreach (var game in nodes) { var ldUrl="https://ldjam.com" + game.Path; <div class="gameContainer">
        <img src=@game.Meta.Cover />
        <div class="gameInfo">
            <div class="gameInfoHeader">
                    <a href=@ldUrl target="_blank" class="gameInfoTitle">
                    <h3>@game.Name</h3>
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512" width="25" height="25">
                            <path fill="currentColor"
                                d="M579.8 267.7c56.5-56.5 56.5-148 0-204.5c-50-50-128.8-56.5-186.3-15.4l-1.6 1.1c-14.4 10.3-17.7 30.3-7.4 44.6s30.3 17.7 44.6 7.4l1.6-1.1c32.1-22.9 76-19.3 103.8 8.6c31.5 31.5 31.5 82.5 0 114L422.3 334.8c-31.5 31.5-82.5 31.5-114 0c-27.9-27.9-31.5-71.8-8.6-103.8l1.1-1.6c10.3-14.4 6.9-34.4-7.4-44.6s-34.4-6.9-44.6 7.4l-1.1 1.6C206.5 251.2 213 330 263 380c56.5 56.5 148 56.5 204.5 0L579.8 267.7zM60.2 244.3c-56.5 56.5-56.5 148 0 204.5c50 50 128.8 56.5 186.3 15.4l1.6-1.1c14.4-10.3 17.7-30.3 7.4-44.6s-30.3-17.7-44.6-7.4l-1.6 1.1c-32.1 22.9-76 19.3-103.8-8.6C74 372 74 321 105.5 289.5L217.7 177.2c31.5-31.5 82.5-31.5 114 0c27.9 27.9 31.5 71.8 8.6 103.9l-1.1 1.6c-10.3 14.4-6.9 34.4 7.4 44.6s34.4 6.9 44.6-7.4l1.1-1.6C433.5 260.8 427 182 377 132c-56.5-56.5-148-56.5-204.5 0L60.2 244.3z" />
                        </svg>
                    </a>
                <h4>@game.NodeTimestamp.ToString("MM/dd/yyyy")</h4>
            </div>
            <table class="data">
                <tr>
                    <th width="120px">Category</th>
                    <th width="99%"></th>
                    <th width="60px">Place</th>
                    <th width="60px">Score</th>
                    <th width="60px">Count</th>
                </tr>
                @if (game.Grade.Grade01 > 0) {
                <tr>
                    <td>Overall</td>
                    <td class="bar">
                        <div>|</div>
                        <div class="divider"></div>
                        <div class="divider"></div>
                        <div class="divider"></div>
                        <div class="divider"></div>
                        <div>|</div>
                        <div class="value" style="right: @((1-(game.Magic.Grade01Average/5))*100)%;"></div>
                    </td>
                    @if (@game.Magic.Grade01Result > 0 ) {
                        <td>@game.Magic.Grade01Result</td>
                    }
                    else
                    {
                        <td style="color: var(--color-med)">—</td>
                    }
                    <td>@game.Magic.Grade01Average.ToString( "#.##" )</td>
                    <td>@game.Grade.Grade01</td>
                </tr>
                }
                @if (game.Grade.Grade02 > 0) {
                <tr>
                    <td>Fun</td>
                    <td class="bar">
                        <div>|</div>
                        <div class="divider"></div>
                        <div class="divider"></div>
                        <div class="divider"></div>
                        <div class="divider"></div>
                        <div>|</div>
                        <div class="value" style="right: @((1-(game.Magic.Grade02Average/5))*100)%;"></div>
                    </td>
                    @if (@game.Magic.Grade02Result > 0 ) {
                        <td>@game.Magic.Grade02Result</td>
                    }
                    else
                    {
                        <td style="color: var(--color-med)">—</td>
                    }
                    <td>@game.Magic.Grade02Average.ToString( "#.##" )</td>
                    <td>@game.Grade.Grade02</td>
                </tr>
                }
                @if (game.Grade.Grade03 > 0) {
                <tr>
                    <td>Innovation</td>
                    <td class="bar">
                        <div>|</div>
                        <div class="divider"></div>
                        <div class="divider"></div>
                        <div class="divider"></div>
                        <div class="divider"></div>
                        <div>|</div>
                        <div class="value" style="right: @((1-(game.Magic.Grade03Average/5))*100)%;"></div>
                    </td>
                    @if (@game.Magic.Grade03Result > 0 ) {
                        <td>@game.Magic.Grade03Result</td>
                    }
                    else
                    {
                        <td style="color: var(--color-med)">—</td>
                    }
                    <td>@game.Magic.Grade03Average.ToString( "#.##" )</td>
                    <td>@game.Grade.Grade03</td>
                </tr>
                }
                @if (game.Grade.Grade04 > 0) {
                <tr>
                    <td>Theme</td>
                    <td class="bar">
                        <div>|</div>
                        <div class="divider"></div>
                        <div class="divider"></div>
                        <div class="divider"></div>
                        <div class="divider"></div>
                        <div>|</div>
                        <div class="value" style="right: @((1-(game.Magic.Grade04Average/5))*100)%;"></div>
                    </td>
                    @if (@game.Magic.Grade04Result > 0 ) {
                        <td>@game.Magic.Grade04Result</td>
                    }
                    else
                    {
                        <td style="color: var(--color-med)">—</td>
                    }
                    <td>@game.Magic.Grade04Average.ToString( "#.##" )</td>
                    <td>@game.Grade.Grade04</td>
                </tr>
                }
                @if(game.Grade.Grade05 > 0){
                <tr>
                    <td>Graphics</td>
                    <td class="bar">
                        <div>|</div>
                        <div class="divider"></div>
                        <div class="divider"></div>
                        <div class="divider"></div>
                        <div class="divider"></div>
                        <div>|</div>
                        <div class="value" style="right: @((1-(game.Magic.Grade05Average/5))*100)%;"></div>
                    </td>
                    @if (@game.Magic.Grade05Result > 0 ) {
                        <td>@game.Magic.Grade05Result</td>
                    }
                    else
                    {
                        <td style="color: var(--color-med)">—</td>
                    }
                    <td>@game.Magic.Grade05Average.ToString( "#.##" )</td>
                    <td>@game.Grade.Grade05</td>
                </tr>
                }
                @if(game.Grade.Grade06 > 0){
                <tr>
                    <td>Audio</td>
                    <td class="bar">
                        <div>|</div>
                        <div class="divider"></div>
                        <div class="divider"></div>
                        <div class="divider"></div>
                        <div class="divider"></div>
                        <div>|</div>
                        <div class="value" style="right: @((1-(game.Magic.Grade06Average/5))*100)%;"></div>
                    </td>
                    @if (@game.Magic.Grade06Result > 0 ) {
                        <td>@game.Magic.Grade06Result</td>
                    }
                    else
                    {
                        <td style="color: var(--color-med)">—</td>
                    }
                    <td>@game.Magic.Grade06Average.ToString( "#.##" )</td>
                    <td>@game.Grade.Grade06</td>
                </tr>
                }
                @if (game.Grade.Grade07 > 0) {
                <tr>
                    <td>Humor</td>
                    <td class="bar">
                        <div>|</div>
                        <div class="divider"></div>
                        <div class="divider"></div>
                        <div class="divider"></div>
                        <div class="divider"></div>
                        <div>|</div>
                        <div class="value" style="right: @((1-(game.Magic.Grade07Average/5))*100)%;"></div>
                    </td>
                    @if (@game.Magic.Grade07Result > 0 ) {
                        <td>@game.Magic.Grade07Result</td>
                    }
                    else
                    {
                        <td style="color: var(--color-med)">—</td>
                    }
                    <td>@game.Magic.Grade07Average.ToString( "#.##" )</td>
                    <td>@game.Grade.Grade07</td>
                </tr>
                }
                @if (game.Grade.Grade08 > 0) {
                <tr>
                    <td>Mood</td>
                    <td class="bar">
                        <div>|</div>
                        <div class="divider"></div>
                        <div class="divider"></div>
                        <div class="divider"></div>
                        <div class="divider"></div>
                        <div>|</div>
                        <div class="value" style="right: @((1-(game.Magic.Grade08Average/5))*100)%;"></div>
                    </td>
                    @if (@game.Magic.Grade08Result > 0 ) {
                        <td>@game.Magic.Grade08Result</td>
                    }
                    else
                    {
                        <td style="color: var(--color-med)">—</td>
                    }
                    <td>@game.Magic.Grade08Average.ToString( "#.##" )</td>
                    <td>@game.Grade.Grade08</td>
                </tr>
                }

            </table>
        </div>
    </div>
    }
</div>