@page "{ludumUser}"
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    var nodes = Model.LudumDareData?.Node;
}

<div class="text-center">
    <ul>
        @for (int i = 0; i < nodes.Count; i++)
        {
            var game = nodes[i];
            var ldUrl = "https://ldjam.com" + game.Path;
            <a href=@ldUrl><h3>@game.Name</h3></a>
            <img src=@game.Meta.Cover />
            <p>@game.Body</p>
            <ul>
                <table>
                    <tr>
                        <th>Category</th>
                        <th>Total</th>
                        <th>Result</th>
                        <th>Average</th>
                    </tr>
                    <tr>
                        <td>Overall</td>
                        <td>@game.Grade.Grade01</td>
                        <td>@game.Magic.Grade01Result</td>
                        <td>@game.Magic.Grade01Average</td>
                    </tr>
                    <tr>
                        <td>Fun</td>
                        <td>@game.Grade.Grade02</td>
                        <td>@game.Magic.Grade02Result</td>
                        <td>@game.Magic.Grade02Average</td>
                    </tr>
                    <tr>
                        <td>Innovation</td>
                        <td>@game.Grade.Grade03</td>
                        <td>@game.Magic.Grade03Result</td>
                        <td>@game.Magic.Grade03Average</td>
                    </tr>
                    <tr>
                        <td>Theme</td>
                        <td>@game.Grade.Grade04</td>
                        <td>@game.Magic.Grade04Result</td>
                        <td>@game.Magic.Grade04Average</td>
                    </tr>
                    <tr>
                        <td>Graphics</td>
                        <td>@game.Grade.Grade05</td>
                        <td>@game.Magic.Grade05Result</td>
                        <td>@game.Magic.Grade05Average</td>
                    </tr>
                    <tr>
                        <td>Audio</td>
                        <td>@game.Grade.Grade06</td>
                        <td>@game.Magic.Grade06Result</td>
                        <td>@game.Magic.Grade06Average</td>
                    </tr>
                    <tr>
                        <td>Humor</td>
                        <td>@game.Grade.Grade07</td>
                        <td>@game.Magic.Grade07Result</td>
                        <td>@game.Magic.Grade07Average</td>
                    </tr>
                    <tr>
                        <td>Mood</td>
                        <td>@game.Grade.Grade08</td>
                        <td>@game.Magic.Grade08Result</td>
                        <td>@game.Magic.Grade08Average</td>
                    </tr>
                </table>
            </ul>
        }
    </ul>
</div>
